name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: WeekNumber.sln
      Project_Path: WeekNumber/WeekNumber.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore ${{ env.Project_Path }}

    - name: Build
      run: dotnet build ${{ env.Project_Path }} --configuration ${{ matrix.configuration }} --no-restore

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: WeekNumber-${{ matrix.configuration }}
        path: WeekNumber/bin/${{ matrix.configuration }}/net9.0-windows/
